@import url('reset.css');

.container {
    width: 1000px; 
    margin: 0 auto;
}

.container > a {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blueviolet; 
    text-align: left;
}

.title {
    color: darkslategray;
    font-size: 36px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px 0;
}

.etimologia, .activity {
    margin: 30px 0; 
    text-align: center;
}

.etimologia > h2 {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic; 
    color: seagreen; 
    text-align: left;
}

.etimologia img, .activity img {
    width: 400px; 
    height: 300px;
    border-radius: 15px; 
    border: 4px solid seagreen;
}

.physical > h2 {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic; 
    color: seagreen; 
    text-align: left;
}

.activity > h2 {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic; 
    color: seagreen; 
    text-align: left;
}

.desc {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkslategrey; 
    text-align: justify;
    margin: 20px 0;
}

.table {
    text-align: center;
}

.table td {
    width: 150px;
	height: 50px;
    vertical-align: middle;
    text-align: center;
}

.table, .table td {
    border: 2px solid seagreen;
	border-collapse: collapse;
}